body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:darkseagreen;
}

header {
    width: 100%;
    height: 150px;
    background-position-y: bottom;
    background: url(office-1461951.jpg);
}

h3 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 1em;
}

input {
    margin-bottom: 1em;
}

input::after {
    content:  '<br>';
}

label {
    display: block;
}

.employeeData {
    text-align: center;
}

th, tr {
    padding: 1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
