<div ng-app="performanceApp" ng-controller="statController" class="content">
    <span>Employee ID: </span><input type="text" ng-model="employeeId" ng-change="update()" />
    <span>From Date: </span><input type="date" ng-model="startDate" ng-change="update()" />
    <span>To Date: </span><input type="date" ng-model="endDate" ng-change="update()" ng-min="startDate" min="{{startDate | date:'yyyy-MM-dd'}}" ng-disabled="!startDate" />
    <div ng-bind="employeeId"></div>
    <div>
        <h3 ng-show="employeeId">{{employeeId}}: {{startDateDescription}} &ndash; {{endDateDescription}}</h3>
        <h3 ng-hide="employeeId">Please select an employee.</h3>
        <div class="error-empty" ng-hide="stats">
            No data for employee {{employeeId}}
        </div>
        <table ng-show="stats">
            <tr><th ng-repeat="(key,val) in stats">{{key}}</th></tr>
            <tr><td ng-repeat="(key,val) in stats">{{val}}</td></tr>
        </table>
    </div>
</div>
