<div ng-app="performanceApp" ng-controller="mainController" class="content">
    <div class="login" ng-hide="token" ng-controller="loginController">
        <h3>Please log in</h3>
        <form name="loginForm" action="javascript:void(0);">
            <label>Employee ID: <input name="employeeId" type="text" ng-model="login.employeeId" /></label>
            <label>Password: <input name="password" type="password" ng-model="login.password" /></label>
            <input name="submit" type="submit" value="Submit" ng-click="submitLogin(login)" />
        </form>

    </div>
    <div class="securedContent" ng-controller="statController" ng-show="token">
        <form name="employeeSelection">
            <label >Information Type: <select name="statType" ng-model="baseUrl" ng-change="update()">
                <option value="/api/Stats/">Individual Agent</option>
                <option value="/api/TeamStats/">Team (reporting to selected employee)</option>
            </select>
            </label>
            <label >Employee ID: <input name="employeeId" type="text" ng-model="employeeId" ng-change="update()" /></label>
            <label >From Date: <input name="startDate" type="date" ng-model="startDate" ng-change="update()" /></label>
            <label ng-disabled="!startDate">To Date: <input name="endDate" type="date" ng-model="endDate" ng-change="update()" ng-min="startDate" min="{{startDate | date:'yyyy-MM-dd'}}" ng-disabled="!startDate" /></label>
        </form>
        <div class="employeeData">
            <h3 ng-show="employeeId">{{employeeId}}: {{startDateDescription}} &ndash; {{endDateDescription}}</h3>
            <h3 ng-hide="employeeId">Please select an employee.</h3>
            <div class="error-empty" ng-hide="stats">
                No data for employee {{employeeId}}
            </div>
            <table ng-show="stats">
                <tr><th ng-repeat="(key,val) in stats">{{key}}</th></tr>
                <tr><td ng-repeat="(key,val) in stats">{{val}}</td></tr>
            </table>
        </div>
    </div>
</div>
