<div ng-app="performanceApp" ng-controller="statController" class="content">
    <input type="text" ng-model="employeeId" ng-change="update()" />
    <div ng-bind="employeeId"></div>
    <div>
        <h2>{{header}}</h2>
        <div class="error-empty" ng-hide="stats">
            No data for employee {{employeeId}}
        </div>
        <table ng-show="stats">
            <tr><th ng-repeat="(key,val) in stats">{{key}}</th></tr>
            <tr><td ng-repeat="(key,val) in stats">{{val}}</td></tr>
        </table>
    </div>
</div>
